header{
    height: 100px;
    background-image: linear-gradient(0deg, rgba(155,250,251,1) 0%, rgba(47,201,209,1) 100%);
    text-align: center;
    font-family: "Berlin Sans FB";
    font-size: 50px;
    font-weight: bold;
}
#text{
    text-align: center;
    font-family:"Roboto Thin";
}
#text2{
    text-align: start;
    font-family: Verdana;
    font-size: 18px;
}
.tekst.ol {
    /* убираем стандартную нумерацию */
    list-style: none;
    /* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */
    counter-reset: li;
}
.tekst2.li:before {
    /* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
    counter-increment: li;
    /* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
    content: counters(li, ".") ". ";
}